<!DOCTYPE html>
{%load static%}
<html>
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'users/users.css' %}">
    <script src="{% static 'users/users.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
    <nav class="nav">
        <div class="container">
            <div class="logo">
                <a href="{% url 'users:home' %}">
                    <img alt="Premier League" src="../../static/users/NicePng_manchester-united-png_620282.png"/>
                </a>
            </div>
            <div id="mainListDiv" class="main_list">
                <ul class="navlinks">
                    <li><a href="{% url 'users:home' %}">Standings</a></li>
                    <li><a href="{% url 'users:matches' %}">Matches</a></li>
                    <li><a href="{% url 'users:favorites' %}">Favorites</a></li>
                    <li><a href="{% url 'users:logout' %}">Logout ({{ user.username }})</a></li>
                </ul>
            </div>
            <span class="navTrigger">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </div>
    </nav>
    
    {% block content %}{% endblock content %}

    <!-- Function used to shrink nav bar removing paddings and adding color background -->
    <script>
        $(window).scroll(function() {
            if ($(document).scrollTop() > 50) {
                $('.nav').addClass('affix');
                console.log("OK");
            } else {
                $('.nav').removeClass('affix');
            }
        });
    </script>
</body>
</html>