{% extends "users/base.html" %}
{%load static%}

{% block title %}
Home Page
{% endblock title %}

{% block content %}
<nav class="nav">
    <div class="container">
        <div class="logo">
            <a href="{% url 'users:home' %}">
                <img alt="Premier League" src="../../static/users/NicePng_manchester-united-png_620282.png"/>
            </a>
        </div>
        <div id="mainListDiv" class="main_list">
            <ul class="navlinks">
                <li><a href="{% url 'users:home' %}">Matches</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Favorites</a></li>
                <li><a href="{% url 'users:logout' %}">Logout ({{ user.username }})</a></li>
            </ul>
        </div>
        <span class="navTrigger">
            <i></i>
            <i></i>
            <i></i>
        </span>
    </div>
</nav>

<section class="home">
</section>
<div style="height: 1000px">
    <!-- just to make scrolling effect possible -->
        <h2 class="myH2">What is this ?</h2>
</div>

<!-- Function used to shrink nav bar removing paddings and adding color background -->
<script>
    $(window).scroll(function() {
        if ($(document).scrollTop() > 50) {
            $('.nav').addClass('affix');
            console.log("OK");
        } else {
            $('.nav').removeClass('affix');
        }
    });
</script>
{% endblock content %}

